<%= form_with(model: @product, data: {turbo: false}) do |f|  %>
  <fieldset class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
</div>
<div class="mb-3">
  <fieldset class="mb-2">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </fieldset>
</div>
<div class="mb-3">
  <fieldset class="mb-2">
    <%= f.label :price %>
    $<%= f.number_field :price %>
  </fieldset>
</div>
<div class="mb-3">
  <fieldset class="mb-2">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </fieldset>
</div>
<div>
    <%= f.submit class: 'btn btn-primary' %> 
    <%= f.hidden_field :user_id, value: current_user.id %>
</div>
<% end %>