<%= form_with(model: @product, data: {turbo: false}) do |f|  %>
<div class="card-body">
        <h6 class="card-title"><%= image_tag @product.image, transformation: ["media_lib_thumb"], :width=>150, :crop=>"scale", cloud_name: 'nakoawolf' %></h6>
        <h5 class="card-title"><%= @product.name %></h5>
        <p class="card-text"><%= @product.description %></p>
        <h6 class="card-title"><%= @product.price %></h6>
        </div>
<div class="btn-toolbar mt-3">
    <%= button_to "Edit this product", edit_product_path(@product), method: :get, class: "btn btn-outline-warning" %>
    <%= button_to "Destroy this product", @product, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this product?" } }, class: "btn btn-outline-danger" %>
</div>
<br>
<%= button_to "Back", products_path, method: :get, class: "btn btn-outline-secondary" %>
<% end %>